.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-logo {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  & .logo-piece {
    color: #e51d71;
  }
}

.header-list {
  display: flex;
  :not(:last-child) {
    margin-right: 15px;
  }
}

.header-link {
  text-decoration: none;
  color: #e51d71;
}
