<section class="anime-container">
  <div class="container">
    <h2 class="manga-title">MY FAVORITE ANIME</h2>
    <ul class="cards-list">
      <li class="list-item">
        <div class="card-anime">
          <img
            class="card-img"
            src="./images/cardsImg/image4.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Guren Lagan</h3>
            <p class="desc-release">Relise date: 2007</p>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="card-anime">
          <img
            class="card-img"
            src="./images/cardsImg/image5.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Naruto</h3>
            <p class="desc-release">Relise date: 2007</p>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="card-anime">
          <img
            class="card-img"
            src="./images/cardsImg/image6.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Full metal alchemist</h3>
            <p class="desc-release">Relise date: 2009</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
