<section>
  <div class="container manga-container">
    <h2 class="manga-title">MY FAVORITE MANGA</h2>
    <ul class="cards-list">
      <li class="list-item">
        <div class="card-manga">
          <img
            class="card-img"
            src="./images/cardsImg/image1.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Berserk</h3>
            <p class="desc-release">Relise date: 1993</p>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="card-manga">
          <img
            class="card-img"
            src="./images/cardsImg/image2.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Сhainsaw man</h3>
            <p class="desc-release">Relise date: 2018</p>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="card-manga">
          <img
            class="card-img"
            src="./images/cardsImg/image3.jpg"
            alt="berserk"
          />
          <div class="desc">
            <h3 class="desc-title">Demon slayer</h3>
            <p class="desc-release">Relise date: 2016</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
